<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="motgolla.domain.product.mapper.ProductMapper">

    <select id="findAllForRecommend" resultType="motgolla.domain.product.vo.Product">
        SELECT
        ID,
        NAME,
        BRAND_ID AS brandId,
        PRICE,
        COLOR,
        DESCRIPTION,
        CATEGORY,
        STYLE,
        FIT,
        SEASON,
        IMAGE_URL AS imageUrl
        FROM PRODUCT
    </select>

    <select id="existsById" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM PRODUCT
        WHERE ID = #{id}
    </select>

    <select id="findRecommendationsByProductId" resultType="motgolla.domain.recommend.dto.response.RecommendedProduct">
        SELECT
        P.ID,
        P.NAME,
        P.IMAGE_URL AS imageUrl,
        B.BRAND_NAME AS brand,
        MAX(DSB.FLOOR) AS floor,
        P.PRICE
        FROM (
        SELECT TARGET_ID
        FROM (
        SELECT R.TARGET_ID
        FROM RECOMMEND_RESULT R
        WHERE R.SOURCE_ID = #{productId}
        ORDER BY DBMS_RANDOM.VALUE
        )
        WHERE ROWNUM &lt;= 5
        ) RR
        JOIN PRODUCT P ON RR.TARGET_ID = P.ID
        JOIN BRAND B ON P.BRAND_ID = B.ID
        LEFT JOIN DEPARTMENT_STORE_BRAND DSB
        ON P.BRAND_ID = DSB.BRAND_ID AND DSB.DEPARTMENT_STORE_ID = #{departmentStoreId}
        GROUP BY P.ID, P.NAME, P.IMAGE_URL, B.BRAND_NAME, P.PRICE
    </select>
</mapper>
